{
  "singleQuote": false,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^node:*",
    "^vite",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^./(.*)$",
    "^[./]"
  ]
}
